/*!-----------------------------------------------------
--------------------- Header styles --------------------
--------------------------------------------------------*/

header
  display: flex
  justify-content: space-between

/*!-----------------------------------------------------
----------------- Navigation styles --------------------
--------------------------------------------------------*/

nav ul
  display: flex
  justify-content: space-around


/*!-----------------------------------------------------
----------------- Main Section Styles ------------------
--------------------------------------------------------*/

main
  display: flex
  justify-content: space-between
  flex-wrap: wrap

main > article:not(:first-child)
  background-color: grey 
  border: 5px solid red
  flex-basis: 50%

/*!-----------------------------------------------------
------------------ Footer Styles -----------------------
--------------------------------------------------------*/

footer
  display: flex
