/*-----------------------------------------------------
--------------------- Header styles --------------------
--------------------------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
}
/*-----------------------------------------------------
----------------- Navigation styles --------------------
--------------------------------------------------------*/
nav ul {
  display: flex;
  justify-content: space-around;
}
