/*-----------------------------------------------------
--------------------- Header styles --------------------
--------------------------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  padding: 4% 0;
}
/*-----------------------------------------------------
----------------- Navigation styles --------------------
--------------------------------------------------------*/
nav ul {
  display: flex;
}
nav ul li {
  color: #f00;
  background-color: #808080;
  flex-basis: 35.29%;
  text-align: center;
  padding: 2% 0;
  border: 1px solid #fff;
}
/*-----------------------------------------------------
----------------- Main Section Styles ------------------
--------------------------------------------------------*/
main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main > article:not(:first-child) {
  background-color: #808080;
  border: 5px solid #f00;
  flex-basis: 50%;
}
/*-----------------------------------------------------
------------------ Footer Styles -----------------------
--------------------------------------------------------*/
footer {
  display: flex;
}
