/*!-----------------------------------------------------
--------------------- Header styles --------------------
--------------------------------------------------------*/

header
  display: flex
  justify-content: space-between
  padding: 4% 0
  

/*!-----------------------------------------------------
----------------- Navigation styles --------------------
--------------------------------------------------------*/

nav ul
  display: flex
  
  li
    color: red
    background-color: grey
    flex-basis: 35.29%;
    text-align: center;
    padding: 2% 0;
    border: 1px solid white;

/*!-----------------------------------------------------
----------------- Main Section Styles ------------------
--------------------------------------------------------*/

main
  display: flex
  justify-content: space-between
  flex-wrap: wrap

main > article:not(:first-child)
  background-color: grey 
  border: 5px solid red
  flex-basis: 50%

/*!-----------------------------------------------------
------------------ Footer Styles -----------------------
--------------------------------------------------------*/

footer
  display: flex
